/* idk */

html,
body {
	width: 100%;
	height: 100%;
}

#root {
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
}

.list-div {
	width: 12rem;
	margin: 5px 0px;
	height: 8rem;
	align-items: center;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
	box-sizing: border-box;
	color: #121212;
	cursor: pointer;
	flex: 1 1 auto;
	font-size: 1.2rem;
	font-weight: 700;
	flex-direction: column;
	outline: none;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
	white-space: nowrap;
	border: 0;
}

.list-div:hover {
	box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.small-info {
	font-size: 0.8rem;
	color: #121212;
	padding: 0;
}

.small-state {
	font-size: 0.8rem;
	color: #49eb21;
	padding: 0;
}

.hp-style h1,
.hp-style p {
	font-family: sans-serif;
	color: black;
}

.hp-style h1 {
    word-wrap: break-word;
	font-size: 1rem;
	font-weight: bold;
}

.hp-style p {
    word-wrap: break-word;
	font-size: 0.5rem;
}

@keyframes shine-pulse {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
